services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./config/env.docker.php:/var/www/html/config/env.php
    depends_on:
      - db
    environment:
      - APP_ENV=docker
      - APP_ROOT_DIR=

  db:
    image: mariadb:11
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: slim_app
      MYSQL_USER: slim_user
      MYSQL_PASSWORD: slim_pass
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/init-db:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: secret
    depends_on:
      - db

volumes:
  db_data:
